
/* Pengaturan  tampulan untuk bodynya */

body {
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.6;
}

/* Pengaturan tampilan untuk layout utama */

#layout {
    background: #fff;
    width: 1000px;
    margin           : auto;
    text-align       : left;
    padding          : 2px;
}

#header {
    width            : 100%;
    height           : 367px;
    background-color : #f5f5f5;
    position         : relative;
}

.header {
    width            : 100%;
    height           : 367px;
}

/* Pengaturan tampilan untuk menu */

#menu {
    width            : 100%;
    height           : 40px;
    background-color : rgb(239, 156, 92);
    position         : relative;
}

#menu ul {
    margin           : 0;
    padding          : 0;
    list-style       : none;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    color: antiquewhite;
    padding: 8px 20px;
    text-decoration: none;
    background: rgb(180, 88, 9);
    border-left: 1px solid #3c4042;
    border-right: 1px solid #3c4042;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    font-size: 15;
}

#menu ul li a:hover {
    color: white;
    background: #3c4042;
}

#runningtext {
    width: 100%;
    height: 25px;
    padding-top: 0px;
    margin: 5px 0 5px 0;
    background-color: bisque;
    color: #1b0d0d;
    position: relative;
    font-size: 15;
}

#sidebar {
    padding: 3px;
    width: 34%;
    background-color: wheat;
    position: relative;
    float: right;
    border-width: 1px;
}

.widget {
    width: 95%;
    margin-bottom: 0 auto 5px auto;
    background: #a79d6d;
    border-top: 1px solid #DFDFDF;
    border-bottom: 4px solid #dfdfdf;
    border-right: 1px solid #DFDFDF;
    border-left: auto solid #DFDFDF;
    font-size: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.iklan {
    width: 100%;
    height: auto;
}

.judulwidget {
    background: wheat;
    padding: 5px 10px 5px 10px;
    margin: center;
    text-align: center;
    color: #206208;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.widget ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

.widget li {
    padding: 0px 0px 0px 0px;
    background-position: left;
    background-repeat: no-repeat;
    color: #333;
}

.widget li a {
    color: #a2ef68;
    border-bottom: 1px dotted #cccccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    padding: 4px 5px 3px 10px;
}

.widget li a:hover {
    color:#1b0d0d;
}

#isi {
    padding: 1px;
    width: 65%;
    height: auto;
    background-color: white;
    position: relative;
    margin-top: 5px;
}

.isipost {
    background-color: wheat;
    width: 98%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.gambardepan {
    float: left;
    height: 210px;
    width: 160px;
    margin-right: 5px;
    margin-top: 1px;
    padding: 1px;
    border: 1px solid #dddd;
}

.isipost h2 {
    font-size: 23px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 1;
}

.isipost h3 {
    font-weight: 650;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #333;
}

#footer {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding-top: 30;
    background-color: rgb(239, 156, 92);
    color: white;
    font-size: 12pt;
    text-align: center;
    position: relative;
    clear: both;
}

p {
    text-align: justify !important;
    text-justify: inter-word;
}

#isi, .isipost, #sidebar, .widget {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#isi, #sidebar {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}